@import "./variables";
@import "./nav";
@import "./home";

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  direction: rtl;
  font-family: "TubicSansCon";
  background-color: var(--BG-color);
}
