:root {
  --main-color: #142b14;
  --Secondery-color: #8cb334;
  --BG-color: #e6ede2;
}

.NavBar {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  height: 15vh;
  width: 100vw;
  background: #fff;
  box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.2823529412);
  z-index: 2;
}
.NavBar .LOGO {
  width: 200px;
  height: auto;
}
.NavBar .NavLink {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 2rem;
}
.NavBar li a {
  text-decoration: none;
  font-size: 3rem;
  font-family: "TubicBlack";
  color: var(--main-color);
  transition: transform 0.3s;
}
.NavBar li a:hover {
  color: var(--Secondery-color);
  transform: rotate(5deg);
}
.NavBar button {
  background-color: var(--main-color);
  border: none;
  border-radius: 25px 0px 25px 25px;
  transition: transform 0.3s;
}
.NavBar button a {
  color: #fff;
  text-decoration: none;
  font-size: 2.5rem;
  font-family: "TubicBlack";
  padding: 1.5rem;
}
.NavBar button:hover {
  background-color: var(--Secondery-color);
  transform: rotate(5deg);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Cover {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.Cover .CoverImg {
  height: 45rem;
  width: auto;
  margin-top: 12rem;
}
.Cover .CoverText {
  margin-top: 12rem;
}
.Cover .CoverText h2 {
  font-family: "TubicBlack";
  color: var(--main-color);
  font-size: 9rem;
  line-height: 5rem;
}
.Cover h3 {
  font-family: "TubicLight";
  color: var(--Secondery-color);
  font-size: 5rem;
}
.Cover button {
  font-family: "TubicBold";
  font-size: 2.2rem;
  background-color: var(--main-color);
  color: #fff;
  padding: 0.2rem 1.5rem 0.2rem 1.5rem;
  border-radius: 50px 0px 50px 50px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
}
.Cover button:hover {
  background-color: var(--Secondery-color);
  transform: rotate(5deg);
}

.About {
  height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 10%;
}
.About .AboutTitel {
  font-family: "TubicBlack";
  font-size: 4rem;
  color: var(--main-color);
}
.About .AboutText {
  font-family: "TubicBold";
  font-size: 1.8rem;
  margin-top: 3%;
}

.TESTIMOLIAL {
  height: 100vh;
  width: 100vw;
}

.TestTitel {
  height: 15vh;
  margin-top: 8rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.TestTitel i {
  font-size: 8rem;
  color: var(--main-color);
}
.TestTitel h2 {
  font-family: "TubicBold";
  font-size: 3rem;
  color: var(--Secondery-color);
  text-align: center;
}

.mySwiper {
  height: 55vh;
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mySwiper .swiper-wrapper {
  display: flex;
  align-items: center;
  margin-top: 4rem;
  height: auto;
}
.mySwiper .swiper-wrapper .swiper-slide {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.mySwiper .swiper-wrapper .swiper-slide .Test-temp {
  display: flex;
  justify-content: center;
}
.mySwiper .swiper-wrapper .swiper-slide .Test-temp img {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 0px 25px 25px 25px;
}
.mySwiper .swiper-wrapper .swiper-slide .Test-temp .TestShem {
  margin-right: 1rem;
}
.mySwiper .swiper-wrapper .swiper-slide .Test-temp .TestShem h2 {
  font-family: "TubicBlack";
  font-size: 2rem;
  color: var(--main-color);
}
.mySwiper .swiper-wrapper .swiper-slide .Test-temp .TestShem h3 {
  font-family: "TubicLight";
  font-size: 1.8rem;
  color: var(--Secondery-color);
}
.mySwiper .swiper-wrapper .swiper-slide p {
  background-color: var(--main-color);
  width: auto;
  color: #fff;
  font-family: "TubicLight";
  font-size: 1.6rem;
  padding: 1rem;
  margin-top: 2rem;
  border: none;
  border-radius: 25px 0px 25px 25px;
}

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  color: var(--main-color);
}
.mySwiper .swiper-button-next:hover,
.mySwiper .swiper-button-prev:hover {
  color: var(--Secondery-color);
}
.mySwiper .swiper-pagination-bullet {
  width: 25px;
  height: 25px;
  background-color: var(--main-color);
  line-height: 12px;
}
.mySwiper .swiper-pagination-bullet:hover {
  background-color: var(--Secondery-color);
}

.Older {
  height: 80vh;
  width: 100vw;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.Older .OlderImg {
  height: 600px;
  width: auto;
}
.Older .FormContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.Older .FormContainer h2 {
  color: #fff;
  font-family: "TubicBlack";
  font-size: 3rem;
  margin-bottom: 1rem;
}
.Older .FormContainer .OlderForm {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.Older .FormContainer .OlderForm input,
.Older .FormContainer .OlderForm textarea {
  border: none;
  padding: 1rem;
  margin: 5px 0;
  border-radius: 25px 0px 25px 25px;
  font-size: 1rem;
  color: var(--main-color);
  font-family: "TubicLight";
}
.Older .FormContainer .OlderForm button {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 25px 0px 25px 25px;
  margin-top: 15px;
  background-color: var(--Secondery-color);
  font-size: 2rem;
  color: #fff;
  font-family: "TubicBlack";
  transition: transform 0.3s;
  cursor: pointer;
}
.Older .FormContainer .OlderForm button:hover {
  background-color: #fff;
  color: var(--main-color);
  transform: rotate(5deg);
}

.Fevorit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5% 10% 5% 10%;
  background-color: var(--main-color);
}
.Fevorit .FevoTitel {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3rem;
  gap: 1rem;
}
.Fevorit .FevoTitel img {
  height: 10rem;
  width: auto;
}
.Fevorit .FevoTitel h2 {
  color: var(--Secondery-color);
  font-family: "TubicBold";
  font-size: 2rem;
}
.Fevorit .Fevfood {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.Fevorit .Fevfood .item-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 3rem;
  border: none;
  border-radius: 25px 0px 25px 25px;
  transition: transform 0.3s ease;
}
.Fevorit .Fevfood .item-1 .ImgFood1 {
  height: 350px;
  width: auto;
}
.Fevorit .Fevfood .item-1 .item-1-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.Fevorit .Fevfood .item-1 .item-1-text h2 {
  font-family: "TubicBlack";
  font-size: 3rem;
  color: var(--Secondery-color);
}
.Fevorit .Fevfood .item-1 .item-1-text p {
  font-family: "TubicLight";
  font-size: 1.5rem;
  color: var(--main-color);
  text-align: center;
}
.Fevorit .Fevfood .item-1 .item-1-text .btn-invet {
  font-family: "TubicBold";
  background-color: var(--Secondery-color);
  font-size: 2rem;
  width: 8rem;
  height: 3rem;
  border: none;
  padding: 1% 2% 1% 2%;
  margin-top: 2%;
  color: #fff;
  border-radius: 25px 0px 25px 25px;
  cursor: pointer;
}
.Fevorit .Fevfood .item-1 .item-1-text .btn-invet:hover {
  background-color: var(--main-color);
}
.Fevorit .Fevfood .item-1:hover {
  transform: rotate(5deg);
}
.Fevorit .Fevfood .items .item-2,
.Fevorit .Fevfood .items .item-3 {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1.5rem;
  padding: 2rem;
  background-color: #fff;
  border: none;
  border-radius: 25px 25px 0px 25px;
  transition: transform 0.3s ease;
}
.Fevorit .Fevfood .items .item-2 .ImgFood,
.Fevorit .Fevfood .items .item-3 .ImgFood {
  height: 250px;
  width: auto;
}
.Fevorit .Fevfood .items .item-2 .FoodText h2,
.Fevorit .Fevfood .items .item-3 .FoodText h2 {
  font-family: "TubicBlack";
  color: var(--Secondery-color);
  font-size: 2rem;
}
.Fevorit .Fevfood .items .item-2 .FoodText p,
.Fevorit .Fevfood .items .item-3 .FoodText p {
  font-family: "TubicLight";
  font-size: 1.5rem;
  color: var(--main-color);
}
.Fevorit .Fevfood .items .item-2 .FoodText .btn,
.Fevorit .Fevfood .items .item-3 .FoodText .btn {
  font-family: "TubicBold";
  background-color: var(--Secondery-color);
  font-size: 2rem;
  width: 8rem;
  height: 3rem;
  border: none;
  padding: 1% 2% 1% 2%;
  margin-top: 2%;
  color: #fff;
  border-radius: 25px 0px 25px 25px;
  cursor: pointer;
}
.Fevorit .Fevfood .items .item-2 .FoodText .btn:hover,
.Fevorit .Fevfood .items .item-3 .FoodText .btn:hover {
  background-color: var(--main-color);
}
.Fevorit .Fevfood .items .item-2:hover,
.Fevorit .Fevfood .items .item-3:hover {
  transform: rotate(5deg);
}

.Sweet {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0% 10% 5% 10%;
  background-color: var(--main-color);
}
.Sweet .SweTitel {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
}
.Sweet .SweTitel img {
  height: 10rem;
  width: auto;
}
.Sweet .SweTitel h2 {
  color: var(--Secondery-color);
  font-family: "TubicBold";
  font-size: 2rem;
}
.Sweet .SweetBord {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.Sweet .SweetBord .Sweet-1,
.Sweet .SweetBord .Sweet-2,
.Sweet .SweetBord .Sweet-3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border: none;
  border-radius: 0px 25px 25px 25px;
  width: 350px;
  height: auto;
  padding: 2rem;
  gap: 1rem;
  transition: transform 0.3s ease;
}
.Sweet .SweetBord .Sweet-1 .SweetFood,
.Sweet .SweetBord .Sweet-2 .SweetFood,
.Sweet .SweetBord .Sweet-3 .SweetFood {
  height: 250px;
  width: auto;
}
.Sweet .SweetBord .Sweet-1 h2,
.Sweet .SweetBord .Sweet-2 h2,
.Sweet .SweetBord .Sweet-3 h2 {
  color: var(--Secondery-color);
  font-family: "TubicBold";
  font-size: 2rem;
}
.Sweet .SweetBord .Sweet-1 p,
.Sweet .SweetBord .Sweet-2 p,
.Sweet .SweetBord .Sweet-3 p {
  color: var(--main-color);
  font-family: "TubicLight";
  font-size: 1.5rem;
  text-align: center;
}
.Sweet .SweetBord .Sweet-1 .btn-invet,
.Sweet .SweetBord .Sweet-2 .btn-invet,
.Sweet .SweetBord .Sweet-3 .btn-invet {
  font-family: "TubicBold";
  background-color: var(--Secondery-color);
  font-size: 2rem;
  width: 8rem;
  height: 3rem;
  border: none;
  padding: 1% 2% 1% 2%;
  margin-top: 2%;
  color: #fff;
  border-radius: 25px 0px 25px 25px;
  cursor: pointer;
}
.Sweet .SweetBord .Sweet-1 .btn-invet:hover,
.Sweet .SweetBord .Sweet-2 .btn-invet:hover,
.Sweet .SweetBord .Sweet-3 .btn-invet:hover {
  background-color: var(--main-color);
}
.Sweet .SweetBord .Sweet-1:hover,
.Sweet .SweetBord .Sweet-2:hover,
.Sweet .SweetBord .Sweet-3:hover {
  transform: translateY(-15px);
}

@media only screen and (max-width: 1200px) {
  .Cover .CoverImg {
    height: 28rem;
    width: auto;
    margin-top: 10rem;
  }
  .Cover .CoverText {
    margin-top: 10rem;
  }
  .Cover .CoverText h2 {
    font-size: 6rem;
    line-height: 3.5rem;
  }
  .Cover .CoverText h3 {
    font-size: 3.4rem;
  }
  .About .AboutText {
    font-size: 1.5rem;
  }
  .Fevorit .FevoTitel {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .Fevorit .FevoTitel img {
    height: 7rem;
    width: auto;
  }
  .Fevorit .Fevfood .item-1 {
    display: flex;
    flex-direction: row;
    padding: 2rem;
  }
  .Fevorit .Fevfood .item-1 .ImgFood1 {
    height: 250px;
    width: auto;
  }
  .Fevorit .Fevfood .item-1 .item-1-text {
    align-items: flex-start;
  }
  .Fevorit .Fevfood .item-1 .item-1-text h2 {
    font-size: 2.5rem;
  }
  .Fevorit .Fevfood .item-1 .item-1-text p {
    text-align: start;
    font-size: 1.3rem;
  }
  .Sweet .SweTitel img {
    height: 7rem;
  }
  .Sweet .SweetBord {
    gap: 1.5rem;
  }
  .Sweet .SweetBord .Sweet-1,
  .Sweet .SweetBord .Sweet-2,
  .Sweet .SweetBord .Sweet-3 {
    width: 280px;
  }
  .Sweet .SweetBord .Sweet-1 .SweetFood,
  .Sweet .SweetBord .Sweet-2 .SweetFood,
  .Sweet .SweetBord .Sweet-3 .SweetFood {
    height: 180px;
  }
  .Sweet .SweetBord .Sweet-1 h2,
  .Sweet .SweetBord .Sweet-2 h2,
  .Sweet .SweetBord .Sweet-3 h2 {
    font-size: 1.8rem;
  }
  .Sweet .SweetBord .Sweet-1 p,
  .Sweet .SweetBord .Sweet-2 p,
  .Sweet .SweetBord .Sweet-3 p {
    font-size: 1.3rem;
  }
  .Older .OlderImg {
    height: 400px;
  }
  .Older .FormContainer h2 {
    font-size: 2rem;
  }
  .Older .FormContainer .OlderForm {
    width: 350px;
  }
  .Older .FormContainer .OlderForm input,
  .Older .FormContainer .OlderForm textarea {
    font-size: 0.8rem;
  }
  .Older .FormContainer .OlderForm button {
    width: 100px;
    height: 30px;
    font-size: 1.5rem;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  direction: rtl;
  font-family: "TubicSansCon";
  background-color: var(--BG-color);
}/*# sourceMappingURL=main.css.map */