@font-face {
  font-family: "TubicLight";
  src: url("./fbtubic-sanscon-lightwebfont.eot");
  src: url("./fbtubic-sanscon-lightwebfont.eot?#iefix")
      format("embedded-opentype"),
    url("./fbtubic-sanscon-lightwebfont.woff") format("woff"),
    url("./fbtubic-sanscon-lightwebfont.ttf") format("truetype"),
    url("./fbtubic-sanscon-lightwebfont.svg#TubicSansCon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TubicBold";

  src: url("./fbtubic-sanscon-regularwebfont.eot");
  src: url("./fbtubic-sanscon-regularwebfont.eot?#iefix")
      format("embedded-opentype"),
    url("./fbtubic-sanscon-regularwebfont.woff") format("woff"),
    url("./fbtubic-sanscon-regularwebfont.ttf") format("truetype"),
    url("./fbtubic-sanscon-regularwebfont.svg#TubicSansCon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TubicBlack";
  src: url("./fbtubic-sanscon-blackwebfont.eot");
  src: url("./fbtubic-sanscon-blackwebfont.eot?#iefix")
      format("embedded-opentype"),
    url("./fbtubic-sanscon-blackwebfont.woff") format("woff"),
    url("./fbtubic-sanscon-blackwebfont.ttf") format("truetype"),
    url("./fbtubic-sanscon-blackwebfont.svg#TubicSansCon") format("svg");
  font-weight: normal;
  font-style: normal;
}
