@media all and (max-width: 1200px) {
  .Cover {
    .CoverImg {
      height: 38rem;
      width: auto;
      margin-top: 10rem;
    }
  }
  .CoverText {
    margin-top: 10rem;
  }
  //   Food

  .Fevorit {
    .FevoTitel {
      margin-top: 12rem;
    }
  }
  .ImgFood {
    height: 250px;
    width: 250px;
  }
  .ImgFood1 {
    height: 400px;
    width: 400px;
  }
}

//   Sweet Food

//Large devices (laptops/desktops, 992px and up)

@media all and (max-width: 1024px) {
  .Cover {
    .CoverImg {
      height: 30rem;
      width: auto;
      margin-top: 10rem;
    }
  }
  .item-1 {
    h2 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.2rem;
    }
  }
}
